doctype html
html
  head
  body
    h2(class="heading") Zachary Bennett
    a(class="heading" href= "http://www.github.com/zbennett10" target="_blank")
      img(src= "https://s17.postimg.org/yczn9mvfj/Git_Hub_Mark_64px.png")
    a(href= "http://www.zacharybennett.us" target="_blank") Personal Website
    
    h1(style="text-decoration: underline") URL-Shortener Microservice

    h3 Example Request:
    h5 Please make your request directly against the url like so: 
      span(style="color: firebrick") https://bennett-url-shortener.herokuapp.com/https://www.facebook.com
    
    h3 Example Response:
    h5(style="color: firebrick") {"url": "https://bennett-url-shortener.herokuapp.com/8563", "old": "https://www.facebook.com"}
    
    h3 Any further requests to Facebook can now be made by using the generated url.
    
    