doctype html
html
  head
  body
    h2(class="heading") Zachary Bennett
    a(class="heading" href= "http://www.github.com/zbennett10" target="_blank")
      img(src= "https://s17.postimg.org/yczn9mvfj/Git_Hub_Mark_64px.png")
    
    h1 URL-Shortener Microservice
    
    h3 Example Use:
    h5.firebrick localhost/https://www.facebook.com/
    
    h3 Example Output:
    h5.firebrick {original: https://www.facebook.com/, new: localhost/5}
    
    