doctype html
html
  head
  body
    h2(class="heading") Zachary Bennett
    a(class="heading" href= "http://www.github.com/zbennett10" target="_blank")
      img(src= "https://s17.postimg.org/yczn9mvfj/Git_Hub_Mark_64px.png")
    a(href= "www.zacharybennett.us") Personal Website
    
    h1 URL-Shortener Microservice
    
    h3 Example Use:
    h5.firebrick https://bennett-url-shortener.herokuapp.com/https://www.facebook.com
    
    h3 Example Output:
    h5.firebrick {"url": "https://bennett-url-shortener.herokuapp.com/8563", "old": "https://www.facebook.com"}
    
    h3 Any further requests to Facebook's mainpage can now be made by using the generated url.
    
    